@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* main box */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd00;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}
input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
}
.section {
  background-color: #101314;
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section.back-section {
  z-index: 1;
}
.section.active {
  z-index: 2;
  opacity: 1;
  -webkit-animation: slideSection 1s ease;
  animation: slideSection 1s ease;
}
@-webkit-keyframes slideSection {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slideSection {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin: 0;
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 9rem;
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.main-content {
  padding-left: 270px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.shadow-dark {
  -webkit-box-shadow: 0 0 20px rgba(48, 48, 77, 0.15);
  box-shadow: 0 0 20px rgba(48, 48, 77, 0.15);
}
.btn {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 12px 35px;
  color: #fff;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}
.btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.hidden {
  display: none !important;
}


/* Movies SideBar */
.aside {
  width: 275px;
  background-color: #121212;
  position: fixed;
  height: 100%;
  left: 0;

  top: 0;
  z-index: 11;
  border-right: 1px solid #e8dfec;
}
.aside .aside-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 35px;
  overflow-y: auto;
}
.aside .logo {
  padding: 30px 0;
}
.aside .logo a {
  font-size: 40px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  display: inline-block;
  position: relative;
  padding: 0 5px;
  line-height: 50px;
}
.aside .logo a::before {
  content: "";
  height: 40px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  height: 40px;
  width: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid #ebebf7;
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  z-index: 11;
  border-radius: 5px;
  background-color: #101314;
  /* display: -ms-flexbox;
    display: flex; */
  display: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Sidebar-Nav-Heading */
.aside .nav {
  list-style: none;
  margin: 80px 0;
  padding: 0;
}
.aside .nav li {
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  opacity: 0.7;
  line-height: 65px;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.aside .nav li a:not(.active):hover {
  padding-left: 5px;
  opacity: 1;
}
.aside .nav li a .fa {
  margin-right: 5px;
}


/* Home Section


/* Popular  movie Section */


/* Toprated  movie Section */




/* Globall  movie Section */

.portfolio .container {
  padding-bottom: 160rem;
}

.portfolio .portfolio-filter {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.portfolio .portfolio-filter button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 10px;
  color: #302e4d;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  padding-bottom: 2px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}
.portfolio .portfolio-item.hide {
  display: none;
}
.portfolio .portfolio-item.show {
  display: block;
  animation: showItem 0.5s ease;
}
@-webkit-keyframes showItem {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes showItem {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.portfolio .portfolio-item-inner {
  border: 1px solid #e5e7eb;
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 100%;
}
 .portfolio-img img {
  display: block;
  width: 100%;
  height: 35rem;
  object-fit: fill;
}
.portfolio-info {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}
.portfolio .portfolio-item-inner:hover .portfolio-info {
  opacity: 1;
}
 .portfolio-info h4 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 0;
}
.portfolio .portfolio-item-inner:hover .portfolio-info h4 {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.portfolio .portfolio-item .portfolio-info .icon {
  height: 40px;
  width: 40px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  bottom: 30px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.portfolio .portfolio-item-inner:hover .portfolio-info .icon {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.portfolio .portfolio-item .portfolio-info .icon .fa {
  line-height: 40px;
}








/* Responsiveness */


@media (max-width: 1199px) {
  .section .container {
    padding-top: 70px;
  }
  .aside .nav-toggler {
    display: -ms-flexbox;
    display: flex;
    left: 30px;
  }
  .aside .nav-toggler.open {
    left: 200px;
  }
  .aside {
    left: -270px;
  }
  .aside.open {
    left: 0px;
  }
  .section {
    left: 0;
    position: initial;
  }
  .section.active {
    animation: none;
  }
  .main-content {
    padding: 0;
  }
  .section.open {
    left: 270px;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .banner {
    padding: 20px 0;
  }
  .blog .blog-item,
  .portfolio .portfolio-item,
  .service .service-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .banner {
    padding: 20px 0;
  }
  .contact .contact-form .col-6,
  .blog .blog-item,
  .service .service-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .portfolio .portfolio-filter button {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .banner {
    padding: 20px 0;
  }
  .banner-wrap {
    display: block;
  }
  .banner-desc {
    font-size: 14px;
  }
  .banner-btn {
    width: max-content;
    font-size: 14px;
    margin: auto;
    margin-top: 3px;
  }
  .contact .contact-info-item,
  .portfolio .portfolio-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
